*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--textFont);
}

:root{
    --bg: #f5f5f5;  
    --lightGreen: #F1F2B6;
    --limegreen: #B7E097;
    --strongGreen: #54A295;
    --headerFont: 'Poppins', sans-serif;
    --textFont: 'Montserrat', sans-serif;
}

h1,h2,h3{
    font-family: var(--headerFont);
    color: var(--strongGreen);
}

h1{
    color: white;
}

body{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg);
}

.container {
    background-color: var(--limegreen);
    width: 85vw;
    border-radius: 2rem;
    padding: 3rem 1.5rem 1.5rem 2rem;
}

.flex-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.top-spaced-container{
    margin-top: 1.5rem;
}
.img-container{    
    width: 100%;
    height: 18rem;
    border-radius: 1rem;
    background-image: url('https://img.itdg.com.br/tdg/images/recipes/000/161/754/155301/155301_original.jpg?mode=crop&width=710&height=400');
    background-size: cover;
}
.ingredients, .preparo{
    width: 100%;
}

.grid-child-container{
    background: var(--lightGreen);
    border-radius: 0.7rem;
    padding: 10px;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
    margin-top: 0.8rem;
}

ul,ol{
    margin-top: 0.2rem;
    text-align: center;
    list-style-position: inside;
}

ol > li::marker{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

li{
    color: var(--strongGreen);
    margin-top: 0.5rem;
}